@import url('./__button/header__button.css');
@import url('./__logo/header__logo.css');
@import url('./__title/header__title.css');

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}